@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* Properties - both modes */
  color: var(--text);
  font-size: 100%;
  background: hsl(188, 1%, 12%);
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.04rem;

  /* Variables - Light mode/default */
  --accent: hsl(199, 75%, 22%);
  --bg: #F3F3F3;
  --email-bg: #FFFFFF --email-bg: #EEEEEE;
  --email-border: hsl(254, 6%, 75%) 1px solid;
  --email-text: #252525;
  --footer-bg: hsl(199, 15%, 75%);
  --headline: hsl(199, 65%, 15%);
  --linkedin-bg: hsl(212, 78%, 60%);
  --outer-border-radius: 0.6rem;
  --paragraph-weight: 400;
  --social-bg: hsl(199, 15%, 52%);
  --subheading-weight: 600;
  --text: hsl(199, 50%, 15%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent: hsl(188, 20%, 65%);
    --bg: #1a1a1a;
    --email-bg: #EEEEEE;
    --email-border: unset;
    --email-text: #252525;
    --footer-bg: #161619;
    --headline: #f5f5f5;
    --paragraph-weight: 300;
    --social-bg: hsl(254, 6%, 40%);
    --subheading-weight: 500;
    --text: #DCDCDC;
  }
}

/* LAYOUT */

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0 auto;
}

div.container {
  display: flex;
  flex-direction: column;
  background: var(--bg);
  width: 20rem;
  height: 48.75rem;
  min-block-size: 100%;
  border-radius: 0.7rem;
  margin: 2rem auto 0 auto;
}

h1, h2, p, a {
  margin-block: 0;
}

.about-interests, .info-links {
  padding-inline: 1.3em;
}

.about-interests {
  flex: 1;
}

.about, .interests {
  margin-top: 0.8rem;
}

/* TYPOGRAPHY */

h1 {
  font-size: 1.5rem;
  color: var(--headline);
}

h2 {
  font-size: 1.07rem;
  margin-bottom: 0.3rem
}

p {
  font-size: 0.87rem;
  line-height: 1.3;
}

p, a {
  font-weight: var(--paragraph-weight);
}

/* INFO SECTION */

#info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  padding-bottom: .5rem;

  .info-image {
    /* TODO: Edit out santa face */
    background-image: url('/src/assets/profile_pic.jpg');
    background-size: cover;
    background-position: center calc(100% + 90px);
    height: 20rem;
    border-top-left-radius: var(--outer-border-radius);
    border-top-right-radius: var(--outer-border-radius);
  }

  p.occupation {
    color: var(--accent);
    font-size: .88rem;
    font-weight: var(--subheading-weight);
    margin-top: 0.08rem;
  }

  a.website {
    display: block;
    font-size: .7rem;
    text-decoration-line: none;
    color: unset;
    margin-top: 0.6rem;
  }
}

.info-links {
  display: flex;
  gap: 1.05rem;

  a.link-button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.3rem;
    font-size: 0.9rem;
    letter-spacing: 0;
    font-weight: 550;
    border-radius: .45rem;

    &:first-child {
      background: var(--email-bg);
      color: var(--email-text);
      border: var(--email-border);
    }

    &:last-child {
      background: var(--linkedin-bg);
      text-shadow: 0 0 0.25px black;
      color: white;
    }

    & i {
      margin-right: 0.4rem;
    }
  }

}

/* FOOTER (AND ICONS) */

i {
  font-size: 1rem;
  width: unset;
}

footer {
  display: flex;
  gap: 1.9rem;
  justify-content: center;
  background: var(--footer-bg);
  border-bottom-left-radius: var(--outer-border-radius);
  border-bottom-right-radius: var(--outer-border-radius);
  padding-block: 1.1rem;

  i {
    font-size: 1.35rem;
    color: var(--text);

    &::before {
      background: var(--social-bg);
      padding: 0.12em;
      border-radius: 0.15rem;
      color: var(--bg);
    }
  }
}